.App {
 
}

.App-header {
  background-color: #282c34;
  color: white;
  text-align: center;
  margin-top: 0;
  height:80px;
}

.main-heading {
  margin-top: 0;
  margin-left: 25px;
}
@media only screen and (max-width: 500px) {
  .main-heading {
    margin-top: 0;
    font-size: 25px;
    top: 19px;
  }
}

/*ham burger*/
.ham-icon {
	position:absolute;
	top:20px;
	left:20px;
}
.fa-bars {
    background-color: blue;
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 4px;
}

.fa-bars:before {
    content: '';
}

@media only screen and (max-width: 550px) {
  .ham-icon {
  position:relative;
  top:20px;
  float:right;
  margin-right: 40px;
}
}
/* List and Search*/

.srch-filter {
  padding:5px;
}

