.App {
 
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  margin-top: 0;
}

.main-heading {
  margin-top: 0;
}

/*ham burger*/
.ham-icon {
	position:absolute;
	top:20px;
	left:20px;
}
.fa-bars {
    background-color: blue;
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 4px;
}

.fa-bars:before {
    content: '';
}

/* List and Search*/

.srch-filter {
  padding:5px;
}
